﻿<div id="lexiconBuilder" ng-controller="LexiconBuilderController as vm">

    <umb-box>
        <umb-box-content>
            <h3 class="bold" style="margin-bottom: -.25em;">Lexicon Builder</h3>

            <div>
                <div>
                    <p>Hello from lexicon builder.</p>
                    <p>Generating Lexicon will create a Lexicon.cs class with strong typed properties based on existing dictionary items.</p>
                </div>
                <div>
                    <button type="button" ng-click="vm.generate()" class="btn btn-danger">
                        <span>Generate Lexicon</span>
                    </button>
                </div>
            </div>
        </umb-box-content>
    </umb-box>

</div>
